<section class="bg-primary" id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Please RSVP by Sept 1, 2018</h2>
                <hr class="light">
                <!--
                <p class="text-faded">Please let us know by Sept 1, 2018</p>
                -->
                <a href="#" class="btn btn-default btn-xl">RSVP</a>
            </div>
        </div>
    </div>
</section>
